{% extends "index.html" %}

{% block content %}
<div class = "center">    
    <h2>List of movies on my shelf!</h2>

    <table>
        <thead>
        <th>ID</th>    
        <th>Title</th>
        <th>Cast</th>
        <th>Have I borrowed this?</th>
        </thead>
    {% for towatch in towatchs %}
        <tr>
            <th>{{ towatch.id }}</th>
            <td><a href="/towatchs/{{ loop.index }}">{{ towatch.title }}</a></td>
            <td>{{ towatch.description }}</td>
            <td>{{ towatch.done }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}